## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [5]:
import pandas as pd
import numpy as np

In [8]:
data = {'國家':['Taiwan', 'United States', 'Thailand', 'China'],
        '人口':[3000000, 50000000, 700000000, 9000000000] }
data2 = pd.DataFrame(data)
data2

              國家          人口
0         Taiwan     3000000
1  United States    50000000
2       Thailand   700000000
3          China  9000000000

In [10]:
data_sort=data2.sort_values(by="人口",ascending= True)
data_sort

              國家          人口
0         Taiwan     3000000
1  United States    50000000
2       Thailand   700000000
3          China  9000000000

##參數

DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')  

####參數說明

axis:{0 or ‘index’, 1 or ‘columns’}, default 0，默認按照索引排序，即縱向排序，如果為1，則是橫向排序
by:str or list of str；如果axis=0，那by="列名"；如果axis=1，那by="行名"；  
ascending:布林代數型，True则升序，可以是[True,False]，即第一字段升序，第二個降序  
inplace:布林代數型，是否用排序後的數據框替換現有的數據框  
kind:排序方法，{‘quicksort’, ‘mergesort’, ‘heapsort’}, default ‘quicksort’。似乎不用太關心  
na_position : {‘first’, ‘last’}, default ‘last’，默認缺失值排在最後面